.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--cor-principal, #ffccea);
  padding: 10px 20px;
}

.site-header .logo img {
  width: 150px;
  margin-left: 150px;
}

.site-header nav {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}

.site-header nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: 80px;
}

.site-header nav ul li {
  margin-left: 220px;
  margin-right: 50px;
}

.site-header nav ul li a {
  text-decoration: none;
  color: var(--cor-texto, #000);
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.site-header nav ul li a:hover,
.site-header nav ul li a.ativo {
  background-color: var(--cor-secundaria, #cdc1ff);
  color: white;
}
